[Unit]
Description  = Version Control service
After        = syslog.target

[Service]
User         = storxnetwork
Group        = storxnetwork
ExecStart    = /usr/local/bin/versioncontrol run -config-dir /etc/storxnetwork/versioncontrol/
Restart      = always
Type         = simple
NotifyAccess = main

[Install]
WantedBy     = multi-user.target
